Repository settlemint/sdk, pull requests merged in 2025-02, with the labels that each got.

#740 feat: add command to get verification challenge
  sdk/cli/src/commands/index.ts
  sdk/cli/src/commands/pincode-verification-response.ts
  sdk/cli/src/commands/platform/application/list.ts
  sdk/cli/src/commands/platform/utils/wait-for-completion.ts
  sdk/js/schema.graphql
  sdk/js/src/pincode-verification.ts
  sdk/js/src/settlemint.ts
Labels: feat

#741 fix: increase timeout for contract deployment
  sdk/js/src/defaults/blockchain-network-defaults.ts
  test/create-new-project.e2e.test.ts
  test/scripts/setup-platform-resources.ts
Labels: fix, e2e

#743 chore: update gql tada setup for new typescript versions
  .cursorrules
  bun.lock
  sdk/cli/src/commands/codegen/codegen-tsconfig.ts
  sdk/js/package.json
  sdk/js/tsconfig.json
  test/create-new-project.e2e.test.ts
  test/create-smart-contract-set.e2e.test.ts
  test/subgraph.e2e.test.ts
Labels: chore, e2e

#749 fix: pass through of '-v' option on commands like forge test
  sdk/cli/src/commands/index.ts
  sdk/cli/src/commands/smart-contract-set/foundry/test.test.ts
Labels: fix

#754 fix: improve error handling
  sdk/cli/src/commands/index.ts
Labels: fix

#752 fix: ensure all commands have an intro/outro
  sdk/cli/src/commands/smart-contract-set/foundry/build.ts
  sdk/cli/src/commands/smart-contract-set/foundry/format.ts
  sdk/cli/src/commands/smart-contract-set/foundry/test.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/build.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/local.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/remote.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/network.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/script/local.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/script/remote.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/test.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/build.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/codegen.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
Labels: fix

#757 fix: disable shouldCheckForColocatedFragments
  sdk/cli/src/commands/codegen/codegen-tsconfig.ts
Labels: fix

#758 fix: e2e tests
  sdk/cli/src/commands/smart-contract-set/subgraph/remove.ts
  test/create-smart-contract-set.e2e.test.ts
Labels: fix, e2e

#764 feat: add deployment id option to deploy local
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/local.ts
  test/create-smart-contract-set.e2e.test.ts
Labels: feat

#769 fix: resolve proxy routes at runtime
  sdk/next/src/config/with-settlemint.ts
  sdk/next/src/middlewares/proxy.ts
Labels: fix

#785 feat: update custom scalars
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/codegen-hasura.ts
  sdk/cli/src/commands/codegen/codegen-portal.ts
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
Labels: feat
