Repository settlemint/sdk, pull requests merged in 2025-01, with the labels that each got.

#605 fix: improve documentation on main readme
  README.md
  bun.lock
  package.json
  scripts/generate-readme.ts
  scripts/templates/README-template.md
  sdk/blockscout/README.md
  sdk/blockscout/package.json
  sdk/cli/README.md
  sdk/cli/package.json
  sdk/hasura/README.md
  sdk/hasura/package.json
  sdk/ipfs/README.md
  sdk/ipfs/package.json
  sdk/js/README.md
  sdk/js/package.json
  sdk/minio/README.md
  sdk/minio/package.json
  sdk/next/README.md
  sdk/next/package.json
  sdk/portal/README.md
  sdk/portal/package.json
  sdk/thegraph/README.md
  sdk/thegraph/package.json
  sdk/utils/README.md
  sdk/utils/package.json
Labels: fix

#616 fix: improve login/connect flow
  sdk/cli/src/commands/connect/instance.prompt.test.ts
  sdk/cli/src/commands/connect/instance.prompt.ts
  sdk/cli/src/commands/login.ts
Labels: fix

#615 fix: improve retry logic for getting the graph subgraph
  bun.lock
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/test-gql-endpoint.ts
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/utils/get-cluster-service-endpoint.ts
  sdk/js/schema.graphql
  sdk/js/src/graphql/middleware.ts
  sdk/js/src/helpers/graphql-env.d.ts
  sdk/js/src/settlemint.ts
  sdk/utils/src/filesystem/mono-repo.ts
  sdk/utils/src/http.ts
  sdk/utils/src/http/fetch-with-retry.ts
  sdk/utils/src/http/graphql-fetch-with-retry.ts
  sdk/utils/src/index.ts
  sdk/utils/src/retry.ts
Labels: fix, e2e

#617 fix: concurrent bun installs fail
  sdk/cli/src/commands/codegen.ts
Labels: fix

#620 fix: private key improvements
  sdk/cli/src/commands/platform/blockchain-network/besu/create.ts
  sdk/cli/src/commands/platform/blockchain-node/besu/create.ts
  sdk/cli/src/commands/platform/common/create-command.ts
  sdk/cli/src/commands/platform/insights/blockscout/create.ts
  sdk/cli/src/commands/platform/integration-tools/hasura/create.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/platform/middleware/smart-contract-portal/create.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hsm-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/storage/ipfs/create.ts
  sdk/cli/src/commands/platform/storage/minio/create.ts
  sdk/cli/src/commands/smart-contract-set/prompts/address.prompt.ts
  sdk/js/src/helpers/graphql-cache.d.ts
Labels: fix

#621 fix: better explain format of the different tokens
  sdk/cli/src/commands/connect/aat.prompt.ts
  sdk/cli/src/commands/connect/pat.prompt.ts
Labels: fix

#622 fix: enhance prompt clarity by including unique names in choices
  sdk/cli/src/commands/connect/application.prompt.ts
  sdk/cli/src/commands/connect/service.prompt.test.ts
  sdk/cli/src/commands/connect/service.prompt.ts
  sdk/cli/src/commands/connect/workspace.prompt.ts
Labels: fix

#625 fix: streamline private key creation commands for ECDSA and HSM types
  sdk/cli/src/commands/platform/common/create-command.ts
  sdk/cli/src/commands/platform/private-key/accessible-ecdsa-p256/create.test.ts
  sdk/cli/src/commands/platform/private-key/accessible-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.test.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hsm-ecdsa-p256/create.test.ts
  sdk/cli/src/commands/platform/private-key/hsm-ecdsa-p256/create.ts
Labels: fix

#626 fix: deployment of private keys
  sdk/cli/src/commands/platform/private-key/accessible-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hsm-ecdsa-p256/create.ts
  sdk/js/src/graphql/private-key.ts
Labels: fix

#627 fix: codegen all subgraphs when not specified on the connect command
  sdk/cli/src/commands/codegen.ts
  sdk/cli/src/commands/codegen/subgraph-name.prompt.ts
Labels: fix

#628 fix: prompt for provider/region when missing
  sdk/cli/src/commands/platform/common/cluster-service.args.ts
Labels: fix

#630 fix: application alias conflicts with --accept-defaults alias
  sdk/cli/src/commands/platform/apllication-access-tokens/create.ts
  sdk/cli/src/commands/platform/blockchain-network/besu/create.test.ts
  sdk/cli/src/commands/platform/blockchain-network/besu/create.ts
  sdk/cli/src/commands/platform/blockchain-node/besu/create.ts
Labels: fix

#631 fix: improve graphql api error handling
  sdk/js/src/settlemint.ts
  sdk/utils/src/terminal/spinner.ts
Labels: fix

#632 fix: don't show spinner when prompt is active
  sdk/cli/src/commands/platform/apllication-access-tokens/create.ts
  sdk/cli/src/commands/platform/application/create.ts
  sdk/cli/src/commands/platform/blockchain-network/besu/create.ts
  sdk/cli/src/commands/platform/blockchain-node/besu/create.ts
  sdk/cli/src/commands/platform/common/create-command.ts
  sdk/cli/src/commands/platform/insights/blockscout/create.ts
  sdk/cli/src/commands/platform/integration-tools/hasura/create.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/platform/middleware/smart-contract-portal/create.ts
  sdk/cli/src/commands/platform/private-key/accessible-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hsm-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/storage/ipfs/create.ts
  sdk/cli/src/commands/platform/storage/minio/create.ts
  sdk/cli/src/commands/platform/workspace/create.ts
Labels: fix

#629 fix: hardhat deploy remote missing access token even after login, debug logs
  sdk/cli/src/commands/connect/instance.prompt.ts
  sdk/cli/src/commands/connect/write-env.spinner.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/remote.ts
  sdk/cli/src/utils/config.ts
  sdk/cli/src/utils/get-app-or-personal-token.ts
  sdk/utils/src/terminal/note.ts
  sdk/utils/src/validation/dot-env.schema.ts
Labels: fix

#635 fix: replace debug logging with error handling
  sdk/cli/src/commands/connect/pat.prompt.ts
  sdk/cli/src/commands/connect/write-env.spinner.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/remote.ts
  sdk/cli/src/utils/config.ts
  sdk/cli/src/utils/get-app-or-personal-token.ts
  sdk/utils/src/terminal/note.ts
  sdk/utils/src/validation/dot-env.schema.ts
Labels: fix

#636 fix: ensure recently deployed subgraphs are in the env file
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/utils/get-cluster-service-endpoint.ts
Labels: fix

#638 fix: skip next build on docs commit
  .github/workflows/build.yml
Labels: fix

#639 fix: exclude tinyexec from build bundle and fix E2E test
  bun.lock
  package.json
  sdk/cli/build.ts
  sdk/cli/package.json
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/codegen-tsconfig.ts
  sdk/cli/src/commands/codegen/test-gql-endpoint.ts
  sdk/cli/src/utils/get-cluster-service-endpoint.ts
  test/scripts/setup-platform-resources.ts
  test/utils/run-command.ts
Labels: fix, e2e

#641 fix: codegen with '-' in subgraph name
  .cursorrules
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/codegen-hasura.ts
  sdk/cli/src/commands/codegen/codegen-ipfs.ts
  sdk/cli/src/commands/codegen/codegen-minio.ts
  sdk/cli/src/commands/codegen/codegen-portal.ts
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
  sdk/cli/src/commands/codegen/codegen-tsconfig.ts
  sdk/cli/src/commands/codegen/utils/get-variable-name.test.ts
  sdk/cli/src/commands/codegen/utils/get-variable-name.ts
  sdk/cli/src/commands/codegen/utils/test-gql-endpoint.ts
  sdk/cli/src/commands/codegen/utils/write-template.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/utils/sanitize-name.test.ts
  test/create-new-project.e2e.test.ts
  test/subgraph.e2e.test.ts
Labels: fix, e2e

#642 fix: use case and template select
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/create.ts
  sdk/cli/src/commands/create/download-extract.ts
  sdk/cli/src/commands/create/template.prompt.ts
  sdk/cli/src/commands/platform/config.ts
  sdk/cli/src/commands/platform/utils/platform-utils.ts
  sdk/cli/src/commands/smart-contract-set/create.ts
  sdk/cli/src/commands/smart-contract-set/prompts/use-case.prompt.test.ts
  sdk/cli/src/commands/smart-contract-set/prompts/use-case.prompt.ts
  sdk/cli/src/utils/config.ts
  sdk/js/src/settlemint.ts
  sdk/utils/src/package-manager/download-and-extract.ts
  sdk/utils/src/terminal.ts
  sdk/utils/src/terminal/list.ts
  test/create-new-project.e2e.test.ts
Labels: fix, e2e

#644 fix: skip ci on docs commit and use release trigger instead of tag push
  .github/workflows/build.yml
Labels: fix

#648 fix: include unique name in connect output
  sdk/cli/src/commands/connect.ts
Labels: fix

#647 fix: cleanup code docs
  sdk/cli/src/commands/platform/apllication-access-tokens/create.ts
  sdk/cli/src/commands/platform/application/create.ts
  sdk/cli/src/commands/platform/application/delete.ts
  sdk/cli/src/commands/platform/common/restart-command.ts
  sdk/cli/src/commands/platform/insights/blockscout/create.ts
  sdk/cli/src/commands/platform/integration-tools/hasura/create.test.ts
  sdk/cli/src/commands/platform/integration-tools/hasura/create.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/platform/middleware/smart-contract-portal/create.ts
  sdk/cli/src/commands/platform/private-key/accessible-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hsm-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/storage/ipfs/create.ts
  sdk/cli/src/commands/platform/storage/minio/create.ts
  sdk/cli/src/commands/platform/workspace/create.ts
  sdk/cli/src/commands/platform/workspace/delete.ts
Labels: fix

#646 fix: cleanup env variables when removing service in connect
  sdk/cli/src/commands/connect/write-env.spinner.ts
  sdk/cli/src/commands/platform/common/delete-command.ts
  sdk/cli/src/utils/get-cluster-service-endpoint.ts
  sdk/utils/src/environment/write-env.test.ts
  sdk/utils/src/environment/write-env.ts
  sdk/utils/src/filesystem/project-root.ts
  sdk/utils/src/retry.test.ts
  sdk/utils/src/retry.ts
  sdk/utils/src/validation/dot-env.schema.ts
  typedoc.config.mjs
Labels: fix, e2e

#645 feat: add github action docs
  sdk/cli/README.md
  sdk/cli/docs/ABOUT.md
Labels: feat

#657 fix: remove storing default instance in .config
  sdk/cli/src/commands/login.ts
  sdk/cli/src/commands/logout.ts
  sdk/cli/src/prompts/instance.prompt.ts
  sdk/cli/src/utils/config.ts
Labels: fix

#659 feat: application services command
  bun.lock
  sdk/cli/package.json
  sdk/cli/src/cli.ts
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/create.ts
  sdk/cli/src/commands/index.ts
  sdk/cli/src/commands/platform.ts
  sdk/cli/src/commands/platform/application/services.ts
  sdk/cli/src/commands/platform/config.ts
  sdk/cli/src/commands/platform/list.ts
  sdk/cli/src/commands/platform/utils/formatting/format-health-status.ts
  sdk/cli/src/commands/platform/utils/formatting/format-service-sub-type.ts
  sdk/cli/src/commands/platform/utils/formatting/format-status.ts
  sdk/cli/src/constants/resource-type.ts
  sdk/cli/src/prompts/smart-contract-set/use-case.prompt.test.ts
  sdk/cli/src/spinners/applications.spinner.ts
  sdk/cli/src/spinners/login.spinner.ts
  sdk/cli/src/spinners/services.spinner.ts
  sdk/cli/src/spinners/workspaces.spinner.ts
  sdk/cli/src/utils/get-cluster-service-platform-url.ts
  sdk/js/src/graphql/blockchain-network.ts
  sdk/js/src/graphql/blockchain-node.ts
  sdk/js/src/graphql/custom-deployment.ts
  sdk/js/src/graphql/insights.ts
  sdk/js/src/graphql/integration-tool.ts
  sdk/js/src/graphql/load-balancer.ts
  sdk/js/src/graphql/middleware.ts
  sdk/js/src/graphql/private-key.ts
  sdk/js/src/graphql/storage.ts
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/utils/src/environment/write-env.ts
  sdk/utils/src/string.test.ts
  sdk/utils/src/string.ts
  sdk/utils/src/terminal.ts
  sdk/utils/src/terminal/list.ts
  sdk/utils/src/terminal/table.ts
  test/platform-list-services.e2e.test.ts
Labels: feat, e2e

#661 fix: command docs
  scripts/templates/README-template.md
  sdk/blockscout/README.md
  sdk/cli/README.md
  sdk/cli/docs/settlemint/platform/list.md
  sdk/cli/src/commands/platform/application/services.ts
  sdk/hasura/README.md
  sdk/ipfs/README.md
  sdk/js/README.md
  sdk/minio/README.md
  sdk/next/README.md
  sdk/portal/README.md
  sdk/thegraph/README.md
  sdk/utils/README.md
Labels: fix

#662 fix: tty-able does not work when bundled
  bun.lock
  sdk/cli/build.ts
  sdk/cli/package.json
Labels: fix, e2e

#660 fix: default deployer address not activated on default node
  sdk/cli/src/commands/smart-contract-set/hardhat/utils/select-target-node.ts
  sdk/cli/src/prompts/smart-contract-set/address.prompt.ts
Labels: fix

#668 fix: url validation
  test/utils/is-local-env.ts
Labels: fix

#674 feat: update the demo script
  .demo/nextjs/client.txt
  .demo/nextjs/layout.txt
  .demo/nextjs/middleware.txt
  .demo/nextjs/next.config.txt
  .demo/nextjs/provider.txt
  .demo/nextjs/server.txt
  .demo/nextjs/token-list.txt
  .demo/snippets/create-highlight.json
  .demo/snippets/insert-highlight.json
  .demo/snippets/replace-highlight.json
  .demo/snippets/setup-terminal.json
  .demo/v1.json
  .demo/variables.json
Labels: feat

#678 fix: saving env variables on platform create command
  sdk/cli/src/commands/platform/common/create-command.ts
  test/platform-list-services.e2e.test.ts
Labels: fix, e2e

#679 fix: subgraph name prompt
  bun.lock
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph-name.prompt.test.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph-name.prompt.ts
  sdk/js/schema.graphql
  sdk/js/src/helpers/graphql-env.d.ts
  test/utils/is-local-env.ts
Labels: fix

#682 fix: telemetry error logging
  sdk/cli/scripts/create-docs.ts
  sdk/cli/src/commands/index.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph-name.prompt.test.ts
  sdk/cli/src/prompts/smart-contract-set/use-case.prompt.test.ts
  sdk/cli/src/utils/telemetry.test.ts
  sdk/utils/src/terminal.ts
  sdk/utils/src/terminal/cancel.ts
  sdk/utils/src/terminal/spinner.ts
Labels: fix, e2e

#680 fix: platform list services command improvements
  bun.lock
  sdk/cli/build.ts
  sdk/cli/package.json
  sdk/cli/src/commands/platform/application/services.ts
  sdk/cli/src/commands/platform/utils/formatting/format-health-status.ts
  sdk/cli/src/utils/get-platform-url.ts
  sdk/js/src/graphql/application.ts
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/utils/package.json
  sdk/utils/src/terminal/table.ts
  test/platform-list-services.e2e.test.ts
Labels: fix, e2e

#681 feat: add 'settlemint platform list workspace' and 'settlemint platform list application' commands
  sdk/cli/src/commands/platform/application/list.ts
  sdk/cli/src/commands/platform/list.ts
  sdk/cli/src/commands/platform/workspace/list.ts
  sdk/cli/src/utils/telemetry.test.ts
  test/platform-list-services.e2e.test.ts
Labels: feat

#691 feat: add --output option to platform config command
  sdk/cli/src/commands/platform/application/list.ts
  sdk/cli/src/commands/platform/application/services.ts
  sdk/cli/src/commands/platform/config.test.ts
  sdk/cli/src/commands/platform/config.ts
  sdk/cli/src/commands/platform/workspace/list.ts
  sdk/cli/src/utils/output/json-output.ts
  sdk/cli/src/utils/output/yaml-output.ts
Labels: feat

#692 fix: hardhat as a peer dependency
  bun.lock
  sdk/cli/build.ts
  sdk/cli/package.json
  sdk/cli/src/utils/get-platform-url.ts
  sdk/cli/src/utils/smart-contract-set/hardhat-config.ts
  test/create-new-project.e2e.test.ts
  test/platform-list-services.e2e.test.ts
Labels: fix, e2e

#699 fix: use util to mock modules
  sdk/cli/src/commands/platform/config.test.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph-name.prompt.test.ts
  sdk/cli/src/prompts/smart-contract-set/use-case.prompt.test.ts
  sdk/cli/src/utils/get-app-or-personal-token.test.ts
  sdk/cli/src/utils/telemetry.test.ts
  sdk/cli/src/utils/test/module-mocker.ts
Labels: fix

#703 feat: Hide telemetry errors for the users
  sdk/cli/src/utils/telemetry.ts
Labels: feat

#707 feat: remove unused smart contract address env vars
  sdk/cli/src/prompts/smart-contract-set/address.prompt.ts
  sdk/cli/src/spinners/write-env.spinner.ts
  sdk/utils/src/validation/dot-env.schema.ts
Labels: feat

#708 feat: add default sender option to remote deployment
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/remote.ts
  sdk/utils/src/terminal/execute-command.ts
Labels: feat

#693 feat: show a message when SDK version can be updated or is not compatible
  bun.lock
  sdk/cli/docs/ABOUT.md
  sdk/cli/src/commands/index.ts
  sdk/cli/src/prompts/smart-contract-set/use-case.prompt.test.ts
  sdk/cli/src/utils/config.ts
  sdk/cli/src/utils/get-app-or-personal-token.test.ts
  sdk/cli/src/utils/platform-utils.ts
  sdk/cli/src/utils/sdk-version.test.ts
  sdk/cli/src/utils/sdk-version.ts
  sdk/cli/src/utils/telemetry.ts
  sdk/cli/src/utils/test/module-mocker.ts
  sdk/js/schema.graphql
  sdk/js/src/graphql/platform.ts
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/js/src/helpers/graphql-env.d.ts
Labels: feat

#710 fix: remove console.log
  sdk/utils/src/terminal/execute-command.ts
Labels: fix

#712 fix: do not reuse existing AAT if application changed
  sdk/cli/src/prompts/aat.prompt.ts
Labels: fix

#711 fix: improve error handling for missing dependencies
  bun.lock
  sdk/cli/package.json
  sdk/cli/src/commands/smart-contract-set/create.ts
  sdk/cli/src/commands/smart-contract-set/foundry/build.ts
  sdk/cli/src/commands/smart-contract-set/foundry/format.ts
  sdk/cli/src/commands/smart-contract-set/foundry/network.ts
  sdk/cli/src/commands/smart-contract-set/foundry/test.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/build.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/local.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/remote.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/network.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/script/local.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/script/remote.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/test.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/build.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/codegen.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/utils/smart-contract-set/execute-foundry-command.test.ts
  sdk/cli/src/utils/smart-contract-set/execute-foundry-command.ts
  sdk/cli/src/utils/subgraph/setup.ts
  sdk/cli/src/utils/validate-required-packages.test.ts
  sdk/cli/src/utils/validate-required-packages.ts
  sdk/js/schema.graphql
  sdk/utils/src/terminal/cancel.ts
  sdk/utils/src/terminal/execute-command.test.ts
Labels: fix, e2e

#713 fix: make e2e more stable
  .github/workflows/e2e.yml
  test/create-new-project.e2e.test.ts
  test/create-smart-contract-set.e2e.test.ts
  test/subgraph.e2e.test.ts
  test/utils/retry-command.ts
Labels: fix, e2e

#721 fix: better error messages in CI environment
  sdk/cli/src/commands/index.ts
  sdk/cli/src/utils/sdk-version.test.ts
  sdk/cli/src/utils/sdk-version.ts
  sdk/utils/src/terminal.ts
  sdk/utils/src/terminal/spinner.ts
Labels: fix

#727 fix: ignore command exit error
  sdk/cli/src/commands/index.ts
  sdk/utils/src/terminal/spinner.ts
Labels: fix

#730 fix: headers not applied in browser runtime
  sdk/portal/src/portal.test.ts
  sdk/portal/src/portal.ts
Labels: fix
