Repository settlemint/sdk, pull requests merged in 2025-04, with the labels that each got.

#900 feat: log http requests
  sdk/blockscout/src/blockscout.ts
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/codegen-hasura.ts
  sdk/cli/src/commands/codegen/codegen-portal.ts
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
  sdk/hasura/src/hasura.ts
  sdk/next/package.json
  sdk/portal/src/portal.ts
  sdk/thegraph/src/thegraph.ts
  sdk/utils/package.json
  sdk/utils/src/logging.ts
  sdk/utils/src/logging/logger.test.ts
  sdk/utils/src/logging/logger.ts
  sdk/utils/src/logging/mask-tokens.test.ts
  sdk/utils/src/logging/mask-tokens.ts
  sdk/utils/src/logging/request-logger.spec.ts
  sdk/utils/src/logging/request-logger.ts
  sdk/utils/src/terminal.ts
  sdk/utils/src/terminal/cancel.ts
  sdk/utils/src/terminal/execute-command.ts
  sdk/utils/src/terminal/intro.ts
  sdk/utils/src/terminal/note.ts
  sdk/utils/src/terminal/outro.ts
  sdk/utils/src/terminal/spinner.ts
  sdk/utils/tsup.config.ts
Labels: feat

#905 fix: improve logging
  bun.lock
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/codegen-hasura.ts
  sdk/cli/src/commands/codegen/codegen-portal.ts
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
  sdk/cli/src/spinners/write-env.spinner.ts
  sdk/utils/src/logging/logger.test.ts
  sdk/utils/src/logging/logger.ts
  sdk/utils/src/logging/request-logger.spec.ts
  sdk/utils/src/logging/request-logger.ts
  sdk/utils/src/string.test.ts
  sdk/utils/src/string.ts
  sdk/utils/src/validation/dot-env.schema.ts
  test/create-new-project.e2e.test.ts
Labels: fix

#909 feat: the graph queries are cacheable
  bun.lock
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
  sdk/next/src/config/with-settlemint.ts
Labels: feat

#914 fix: e2e tests
  test/create-new-project.e2e.test.ts
  test/scripts/setup-platform-resources.ts
Labels: fix, e2e

#915 fix: prompt for the verification if multiple
  sdk/cli/src/commands/pincode-verification-response.ts
  sdk/cli/src/prompts/pincode-verification.prompt.ts
  sdk/js/src/pincode-verification.ts
  sdk/js/src/settlemint.ts
Labels: fix

#919 fix: command should fail in case deployment failed
  sdk/cli/src/commands/platform/utils/wait-for-completion.ts
Labels: fix

#921 feat: add minio e2e test
  sdk/cli/src/commands/codegen/codegen-minio.ts
  sdk/minio/src/helpers/client-options.schema.ts
  sdk/minio/src/minio.ts
  test/data/test-image.png
  test/data/test-pdf.pdf
  test/minio.e2e.test.ts
Labels: feat

#925 fix: create blockchain network command fails when no provider region is passed
  sdk/cli/src/commands/platform/apllication-access-tokens/create.ts
  sdk/cli/src/commands/platform/application/create.ts
  sdk/cli/src/commands/platform/blockchain-network/besu/create.ts
  sdk/cli/src/commands/platform/blockchain-node/besu/create.ts
  sdk/cli/src/commands/platform/common/cluster-service.args.ts
  sdk/cli/src/commands/platform/common/create-command.ts
  sdk/cli/src/commands/platform/insights/blockscout/create.ts
  sdk/cli/src/commands/platform/integration-tools/hasura/create.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/platform/middleware/smart-contract-portal/create.ts
  sdk/cli/src/commands/platform/private-key/accessible-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hsm-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/storage/ipfs/create.ts
  sdk/cli/src/commands/platform/storage/minio/create.ts
  sdk/cli/src/commands/platform/workspace/create.ts
  sdk/cli/src/constants/resource-type.ts
Labels: fix

#938 fix: zod version
  bun.lock
  package.json
Labels: fix

#942 feat: add custom json rpc endpoints to view client
  sdk/viem/README.md
  sdk/viem/src/custom-actions/create-wallet-verification-challenges.action.ts
  sdk/viem/src/custom-actions/create-wallet-verification.action.ts
  sdk/viem/src/custom-actions/create-wallet.action.ts
  sdk/viem/src/custom-actions/delete-wallet-verification.action.ts
  sdk/viem/src/custom-actions/get-wallet-verifications.action.ts
  sdk/viem/src/custom-actions/types/wallet-verification.enum.ts
  sdk/viem/src/custom-actions/verify-wallet-verification-challenge.action.ts
  sdk/viem/src/viem.ts
  test/viem.e2e.test.ts
Labels: feat

#941 feat: add load balancers to platform list command
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/index.ts
  sdk/cli/src/commands/platform/application/list.ts
  sdk/cli/src/commands/platform/application/services.ts
  sdk/cli/src/commands/platform/common/create-command.ts
  sdk/cli/src/commands/platform/common/restart-command.ts
  sdk/cli/src/commands/platform/config.ts
  sdk/cli/src/commands/platform/utils/formatting/format-service-sub-type.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/remove.ts
  sdk/cli/src/constants/default-subgraph.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph.prompt.ts
  sdk/cli/src/utils/get-cluster-service-endpoint.ts
  sdk/cli/src/utils/get-platform-url.ts
  sdk/utils/src/terminal/ascii.ts
  sdk/utils/src/terminal/intro.ts
  sdk/utils/src/terminal/note.ts
  sdk/utils/src/terminal/outro.ts
  sdk/utils/src/terminal/should-print.ts
  sdk/utils/src/terminal/spinner.ts
  sdk/utils/src/terminal/table.ts
  test/platform-list-services.e2e.test.ts
Labels: feat, e2e

#948 feat: add load balancer to mcp
  sdk/mcp/src/mcp.ts
  sdk/mcp/src/resources/blockchain-concepts.ts
  sdk/mcp/src/tools/platform/insights/create.ts
  sdk/mcp/src/tools/platform/load-balancer/create.ts
  sdk/mcp/src/tools/platform/load-balancer/list.ts
  sdk/mcp/src/tools/platform/load-balancer/read.ts
  sdk/mcp/src/tools/platform/load-balancer/restart.ts
  sdk/mcp/src/tools/platform/middleware/create.ts
Labels: feat

#933 feat: minio helper methods
  bun.lock
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/minio/README.md
  sdk/minio/src/helpers/client-options.schema.ts
  sdk/minio/src/helpers/executor.ts
  sdk/minio/src/helpers/functions.ts
  sdk/minio/src/helpers/operations.ts
  sdk/minio/src/helpers/schema.ts
  sdk/minio/src/minio.ts
  test/minio.e2e.test.ts
Labels: feat

#949 fix: export viem custom action types
  sdk/viem/README.md
  sdk/viem/src/viem.ts
Labels: fix

#958 fix: add more examples and sort commands
  sdk/cli/README.md
  sdk/cli/docs/ABOUT.md
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/create.ts
  sdk/cli/src/commands/index.ts
  sdk/cli/src/commands/logout.ts
  sdk/cli/src/commands/pincode-verification-response.ts
  sdk/cli/src/commands/platform.ts
  sdk/cli/src/commands/platform/config.ts
  sdk/cli/src/commands/platform/create.ts
  sdk/cli/src/commands/platform/custom-deployments/update.ts
  sdk/cli/src/commands/platform/delete.ts
  sdk/cli/src/commands/platform/insights/blockscout/create.ts
  sdk/cli/src/commands/platform/list.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/platform/middleware/smart-contract-portal/create.ts
  sdk/cli/src/commands/platform/restart.ts
  sdk/cli/src/commands/smart-contract-set/create.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/script/local.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/script/remote.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/build.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/codegen.ts
Labels: fix

#959 feat: portal docs for wallet verifications and contract deployment
  .gitignore
  bun.lock
  scripts/generate-readme.ts
  scripts/templates/README-template.md
  sdk/blockscout/README.md
  sdk/blockscout/docs/ABOUT.md
  sdk/cli/src/commands/codegen/codegen-tsconfig.ts
  sdk/hasura/README.md
  sdk/hasura/docs/ABOUT.md
  sdk/ipfs/README.md
  sdk/ipfs/docs/ABOUT.md
  sdk/js/README.md
  sdk/js/src/graphql/private-key.ts
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/mcp/README.md
  sdk/mcp/docs/ABOUT.md
  sdk/minio/README.md
  sdk/minio/docs/ABOUT.md
  sdk/portal/.gitignore
  sdk/portal/README.md
  sdk/portal/docs/ABOUT.md
  sdk/portal/package.json
  sdk/portal/src/examples/deploy-contract.ts
  sdk/portal/src/examples/get-pending-transactions.ts
  sdk/portal/src/examples/schemas/portal-schema.graphql
  sdk/portal/src/examples/send-transaction-using-hd-wallet.ts
  sdk/portal/src/portal.ts
  sdk/portal/src/utils/wait-for-transaction-receipt.ts
  sdk/portal/src/utils/wallet-verification-challenge.ts
  sdk/portal/tsconfig.json
  sdk/thegraph/README.md
  sdk/thegraph/docs/ABOUT.md
  sdk/utils/src/terminal/execute-command.ts
  test/portal.e2e.test.ts
  test/scripts/setup-platform-resources.ts
  test/test-app/portal-env.d.ts
  test/tsconfig.json
  turbo.json
Labels: feat

#960 fix: improved docs
  scripts/generate-readme.ts
  sdk/portal/README.md
  sdk/portal/src/examples/deploy-contract.ts
  sdk/portal/src/examples/get-pending-transactions.ts
  sdk/portal/src/examples/send-transaction-using-hd-wallet.ts
  sdk/portal/src/utils/wait-for-transaction-receipt.ts
  test/portal.e2e.test.ts
  turbo.json
Labels: fix
