Repository settlemint/sdk, pull requests merged in 2025-03, with the labels that each got.

#797 fix: only select nodes with ecdsa or hsm key activated
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/remote.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/utils/select-target-node.test.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/utils/select-target-node.ts
  sdk/cli/src/prompts/smart-contract-set/address.prompt.ts
Labels: fix

#803 feat: allow to set the next caching headers
  .vscode/extensions.json
  sdk/hasura/src/hasura.ts
  sdk/portal/src/portal.ts
  sdk/thegraph/src/thegraph.ts
Labels: feat

#807 chore: rename starterkit to kit
  sdk/cli/src/commands/platform/config.ts
  sdk/cli/src/prompts/smart-contract-set/use-case.prompt.test.ts
  sdk/cli/src/prompts/starter-kit/template.prompt.ts
  sdk/cli/src/utils/platform-utils.ts
  sdk/js/schema.graphql
  sdk/js/src/graphql/platform.ts
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/js/src/helpers/graphql-env.d.ts
  sdk/js/tsconfig.json
  sdk/thegraph/README.md
  sdk/thegraph/src/thegraph.ts
  test/create-new-project.e2e.test.ts
Labels: feat

#809 feat: use npmPackageName from kit in platformconfig
  bun.lock
  sdk/cli/src/commands/create.ts
  sdk/cli/src/prompts/starter-kit/template.prompt.ts
  sdk/js/schema.graphql
  sdk/js/src/graphql/platform.ts
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/js/src/helpers/graphql-env.d.ts
  test/create-new-project.e2e.test.ts
Labels: feat

#810 feat: select default subgraph on connect
  sdk/cli/src/commands/codegen.ts
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/remove.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph-name.prompt.test.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph-name.prompt.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph.prompt.test.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph.prompt.ts
  sdk/cli/src/spinners/write-env.spinner.ts
  sdk/utils/src/terminal/spinner.ts
  sdk/utils/src/validation/dot-env.schema.ts
  test/create-new-project.e2e.test.ts
  test/subgraph.e2e.test.ts
Labels: feat, e2e

#811 feat: add version option to create command
  .gitignore
  bun.lock
  sdk/cli/README.md
  sdk/cli/docs/ABOUT.md
  sdk/cli/docs/settlemint/create.md
  sdk/cli/src/commands/create.ts
  sdk/cli/src/commands/platform/config.ts
  sdk/cli/src/prompts/kit/template.prompt.ts
  sdk/cli/src/utils/download-extract.ts
  sdk/utils/src/validation/unique-name.schema.test.ts
  test/constants/test-resources.ts
  test/create-new-project.e2e.test.ts
  test/platform-list-services.e2e.test.ts
Labels: feat, e2e

#820 fix: default the graph subgraph selection
  sdk/cli/src/prompts/smart-contract-set/subgraph.prompt.ts
  test/create-new-project.e2e.test.ts
Labels: fix, e2e

#826 fix: mcp docs
  scripts/generate-readme.ts
  sdk/mcp/docs/ABOUT.md
Labels: fix

#827 fix: escape issue in the docs
  README.md
  sdk/mcp/README.md
  sdk/mcp/docs/ABOUT.md
Labels: fix

#829 fix: remove custom size option
  sdk/cli/src/commands/platform/common/cluster-service.args.ts
Labels: fix

#834 fix: add the size parameter to create calls
  sdk/js/src/graphql/custom-deployment.ts
  sdk/mcp/src/tools/platform/blockchain-network/create.ts
  sdk/mcp/src/tools/platform/blockchain-node/create.ts
  sdk/mcp/src/tools/platform/custom-deployment/create.ts
  sdk/mcp/src/tools/platform/insights/create.ts
  sdk/mcp/src/tools/platform/integration-tool/create.ts
  sdk/mcp/src/tools/platform/middleware/create.ts
  sdk/mcp/src/tools/platform/storage/create.ts
Labels: fix

#835 fix: subgraph prompt not showing when only one available
  sdk/cli/src/prompts/smart-contract-set/subgraph.prompt.test.ts
  sdk/cli/src/prompts/smart-contract-set/subgraph.prompt.ts
Labels: fix

#852 feat: hasura track all tables command
  sdk/cli/src/commands/hasura/index.ts
  sdk/cli/src/commands/hasura/track.ts
  sdk/cli/src/commands/index.ts
  sdk/cli/src/prompts/cluster-service/hasura.prompt.ts
Labels: feat

#859 feat: add option to disable proxy endpoints
  sdk/next/src/middlewares/proxy.test.ts
  sdk/next/src/middlewares/proxy.ts
Labels: feat

#860 fix: improve proxy test
  sdk/next/src/middlewares/proxy.test.ts
Labels: fix

#865 fix: enforce best practices for authorization
  sdk/blockscout/src/blockscout.ts
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/codegen-hasura.ts
  sdk/cli/src/commands/codegen/codegen-portal.ts
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
  sdk/hasura/src/hasura.ts
  sdk/next/package.json
  sdk/next/src/middlewares/proxy.test.ts
  sdk/next/src/middlewares/proxy.ts
  sdk/next/tsup.config.ts
  sdk/portal/src/portal.test.ts
  sdk/portal/src/portal.ts
  sdk/thegraph/src/thegraph.ts
Labels: fix
