Repository settlemint/sdk, pull requests merged in 2025-06, with the labels that each got.

#1086 fix: prevent double slashes in TheGraph subgraph URLs
  .github/workflows/build.yml
  sdk/cli/src/utils/subgraph/thegraph-url.test.ts
  sdk/cli/src/utils/subgraph/thegraph-url.ts
Labels: fix

#1087 fix: slack messaging
  .github/workflows/build.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pr-settings.yml
  .github/workflows/slack-notifications.yml
  CLAUDE.md
Labels: fix

#1091 fix: handle merged PR notifications in Slack workflow
  .github/workflows/slack-notifications.yml
Labels: fix

#1093 fix: handle special characters in PR titles for Slack notifications
  .github/workflows/slack-notifications.yml
Labels: fix

#1094 fix: skip SDK version validation for local instances
  sdk/cli/src/commands/codegen/codegen-blockscout.ts
  sdk/cli/src/commands/codegen/codegen-hasura.ts
  sdk/cli/src/commands/codegen/codegen-portal.ts
  sdk/cli/src/commands/codegen/codegen-the-graph.ts
  sdk/cli/src/commands/codegen/codegen-tsconfig.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/deploy/remote.ts
  sdk/cli/src/commands/smart-contract-set/hardhat/script/remote.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/remove.ts
  sdk/cli/src/prompts/instance.prompt.test.ts
  sdk/cli/src/prompts/instance.prompt.ts
  sdk/cli/src/utils/sdk-version.ts
  sdk/cli/src/utils/subgraph/setup.ts
  sdk/js/src/settlemint.ts
Labels: fix

#1058 feat: eas-sdk portal implementation
  sdk/eas/.gitignore
  sdk/eas/examples/simple-eas-workflow.ts
  sdk/eas/knip.json
  sdk/eas/package.json
  sdk/eas/src/client-options.schema.ts
  sdk/eas/src/eas.test.ts
  sdk/eas/src/eas.ts
  sdk/eas/src/ethers-adapter.ts
  sdk/eas/src/portal/operations.ts
  sdk/eas/src/portal/portal-client.ts
  sdk/eas/src/portal/portal-schema.graphql
  sdk/eas/src/schema.ts
  sdk/eas/src/types.ts
  sdk/eas/src/utils/validation.ts
  sdk/eas/src/validation.ts
  sdk/eas/tsconfig.json
  sdk/eas/tsdown.config.ts
Labels: feat

#1104 fix: issues with eas build
  bun.lock
  sdk/cli/package.json
  sdk/eas/README.md
  sdk/eas/src/eas.ts
  sdk/eas/src/examples/simple-eas-workflow.ts
  sdk/eas/src/schema.ts
  sdk/eas/src/utils/validation.ts
  turbo.json
Labels: fix

#1126 fix: improve access token validation and MCP error handling
  .claude/commands/comments.md
  .claude/commands/debug.md
  .claude/commands/deps.md
  .claude/commands/explore.md
  .claude/commands/performance.md
  .claude/commands/pr.md
  .claude/commands/qa.md
  .claude/commands/quick.md
  .claude/commands/reflection.md
  .claude/commands/setup-mcp.md
  .claude/commands/stuck.md
  .gitignore
  CLAUDE.md
  sdk/mcp/src/tools/prompts/get.ts
  sdk/mcp/src/tools/resources/get.ts
  sdk/utils/src/validation/access-token.schema.test.ts
  sdk/utils/src/validation/access-token.schema.ts
Labels: fix, qa:success, status:ready-for-review
