Repository settlemint/sdk, pull requests merged in 2025-08, with the labels that each got.

#1202 feat: implement GraphQL queries for schema and attestation retrieval
  bun.lockb
  sdk/eas/README.md
  sdk/eas/src/eas.test.ts
  sdk/eas/src/eas.ts
  sdk/eas/src/examples/complete-workflow.ts
  sdk/eas/src/examples/demo-portal-issue.ts
  sdk/eas/src/examples/simple-eas-workflow.ts
  sdk/eas/src/portal/operations.ts
Labels: feat, qa:success, status:mergeable

#1237 perf(viem): set polling interval to 500ms for improved responsiveness
  sdk/viem/src/viem.ts
Labels: qa:success, status:ready-for-review, perf

#1257 fix: update viem to use latest signer json rpc endpoints
  .github/workflows/qa.yml
  sdk/viem/README.md
  sdk/viem/src/custom-actions/create-wallet-verification-challenge.action.ts
  sdk/viem/src/custom-actions/create-wallet-verification-challenges.action.ts
  sdk/viem/src/custom-actions/types/wallet-verification-challenge.ts
  sdk/viem/src/custom-actions/verify-wallet-verification-challenge.action.ts
  sdk/viem/src/utils/lru-cache.ts
  sdk/viem/src/viem.ts
Labels: fix, qa:success, status:mergeable

#1261 fix: update portal utils to use challenge id for wallet verification
  sdk/portal/src/examples/deploy-contract.ts
  sdk/portal/src/examples/schemas/portal-schema.graphql
  sdk/portal/src/examples/send-transaction-using-hd-wallet.ts
  sdk/portal/src/portal.ts
  sdk/portal/src/utils/wallet-verification-challenge.ts
  sdk/test/test-app/portal-env.d.ts
  sdk/viem/src/custom-actions/anvil/anvil-set-balance.ts
  sdk/viem/src/viem.ts
  test/portal.e2e.test.ts
Labels: fix, e2e, qa:success, status:ready-for-review
