Repository settlemint/sdk, pull requests merged in 2025-05, with the labels that each got.

#971 feat: sdk eas init
  bun.lockb
  sdk/eas/docs/ABOUT.md
  sdk/eas/knip.json
  sdk/eas/package.json
  sdk/eas/src/index.test.ts
  sdk/eas/src/index.ts
  sdk/eas/tsconfig.json
  sdk/eas/tsup.config.ts
  sdk/utils/src/filesystem/mono-repo.test.ts
Labels: feat

#972 fix: subgraph build/deploy
  sdk/cli/src/commands/smart-contract-set/subgraph/build.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/codegen.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
Labels: fix

#973 feat: add EAS schema support and validation tests
  sdk/eas/package.json
  sdk/eas/src/eas.test.ts
  sdk/eas/src/eas.ts
  sdk/eas/src/schema.test.ts
  sdk/eas/src/schema.ts
  sdk/eas/tsup.config.ts
Labels: feat

#982 fix: e2e test stability
  .github/workflows/e2e.yml
  .vscode/settings.json
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/utils/get-app-or-personal-token.test.ts
  sdk/cli/src/utils/get-app-or-personal-token.ts
  test/constants/test-resources.ts
  test/create-new-project.e2e.test.ts
  test/create-smart-contract-set.e2e.test.ts
  test/scripts/setup-platform-resources.ts
  test/subgraph.e2e.test.ts
  test/utils/test-resources.ts
Labels: fix, e2e

#981 feat: eas schema registration
  bun.lockb
  sdk/eas/package.json
  sdk/eas/src/client-options.schema.ts
  sdk/eas/src/eas.test.ts
  sdk/eas/src/eas.ts
  sdk/eas/src/ethers-adapter.ts
  sdk/eas/src/schema.test.ts
  sdk/eas/src/schema.ts
  sdk/eas/src/types.ts
  sdk/eas/src/validation.ts
Labels: feat

#984 fix: eas docs
  README.md
  sdk/eas/README.md
  sdk/eas/src/eas.ts
Labels: fix

#1004 feat: private key meta transactions
  .github/workflows/e2e.yml
  bun.lock
  bun.lockb
  sdk/cli/src/commands/connect.ts
  sdk/cli/src/commands/hasura/track.ts
  sdk/cli/src/commands/platform/blockchain-network/besu/create.ts
  sdk/cli/src/commands/platform/common/create-command.ts
  sdk/cli/src/commands/platform/insights/blockscout/create.ts
  sdk/cli/src/commands/platform/integration-tools/hasura/create.ts
  sdk/cli/src/commands/platform/load-balancer/evm/create.ts
  sdk/cli/src/commands/platform/middleware/graph/create.ts
  sdk/cli/src/commands/platform/middleware/smart-contract-portal/create.ts
  sdk/cli/src/commands/platform/private-key/accessible-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/private-key/hd-ecdsa-p256/create.ts
  sdk/cli/src/commands/platform/storage/ipfs/create.ts
  sdk/cli/src/commands/platform/storage/minio/create.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/deploy.ts
  sdk/cli/src/commands/smart-contract-set/subgraph/remove.ts
  sdk/cli/src/spinners/write-env.spinner.ts
  sdk/cli/src/utils/get-cluster-service-env.ts
  sdk/js/src/graphql/private-key.ts
  sdk/js/src/helpers/graphql-cache.d.ts
  sdk/utils/src/environment/write-env.ts
  sdk/utils/src/json.test.ts
  sdk/utils/src/json.ts
  sdk/utils/src/validation/dot-env.schema.ts
  test/constants/test-resources.ts
  test/create-new-project.e2e.test.ts
  test/create-smart-contract-set.e2e.test.ts
  test/portal.e2e.test.ts
  test/scripts/setup-platform-resources.ts
Labels: feat, e2e

#1008 feat: portal websocket client codegen
  sdk/cli/src/commands/codegen/codegen-portal.ts
  sdk/portal/README.md
  sdk/portal/src/portal.ts
  sdk/portal/src/utils/wait-for-transaction-receipt.ts
  sdk/portal/src/utils/websocket-client.ts
Labels: feat

#1015 chore: do not fail when there is no internet
  sdk/cli/src/utils/sdk-version.ts
Labels: chore

#1020 fix: passthrough for forge
  .github/renovate.json
  sdk/cli/src/commands/smart-contract-set/foundry/build.test.ts
  sdk/cli/src/commands/smart-contract-set/foundry/build.ts
  sdk/cli/src/commands/smart-contract-set/foundry/format.test.ts
  sdk/cli/src/commands/smart-contract-set/foundry/format.ts
  sdk/cli/src/commands/smart-contract-set/foundry/network.test.ts
  sdk/cli/src/commands/smart-contract-set/foundry/network.ts
Labels: fix

#1023 fix: platform services command and ensure mocked modules are reset correctly
  sdk/cli/src/commands/platform/application/services.test.ts
  sdk/eas/src/eas.test.ts
  test/login.e2e.test.ts
  test/platform-list-services.e2e.test.ts
  test/utils/run-command.ts
Labels: fix, e2e

#1034 fix: e2e tests
  .github/workflows/e2e.yml
  .vscode/settings.json
  sdk/ipfs/src/helpers/client-options.schema.ts
  test/restart-resources.e2e.test.ts
Labels: fix, e2e

#1039 fix: retry delay and doc generation
  sdk/eas/README.md
  sdk/eas/src/client-options.schema.ts
  sdk/eas/src/types.ts
  sdk/portal/README.md
  sdk/portal/src/portal.ts
  sdk/portal/src/utils/wait-for-transaction-receipt.ts
  sdk/portal/src/utils/wallet-verification-challenge.ts
  sdk/portal/src/utils/websocket-client.ts
  sdk/utils/README.md
  sdk/utils/src/retry.test.ts
  sdk/utils/src/retry.ts
Labels: fix

#1045 feat: migrate build system from tsup to tsdown with comprehensive optimizations
  .cursor/rules/build-configuration.mdc
  .cursor/rules/cli-patterns.mdc
  .cursor/rules/nextjs-integration.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/testing-and-ci.mdc
  .cursor/rules/troubleshooting.mdc
  .cursor/rules/typescript-patterns.mdc
  .gitignore
  CLAUDE.md
  bun.lock
  package.json
  sdk/blockscout/package.json
  sdk/blockscout/tsdown.config.ts
  sdk/blockscout/tsup.config.ts
  sdk/cli/package.json
  sdk/cli/src/utils/config.ts
  sdk/cli/src/utils/get-cluster-service-env.ts
  sdk/cli/src/utils/smart-contract-set/hardhat-config.ts
  sdk/cli/src/utils/subgraph/subgraph-config.ts
  sdk/cli/src/utils/subgraph/thegraph-url.ts
  sdk/cli/tsdown.config.ts
  sdk/cli/tsup.config.ts
  sdk/eas/package.json
  sdk/eas/tsdown.config.ts
  sdk/eas/tsup.config.ts
  sdk/hasura/package.json
  sdk/hasura/tsdown.config.ts
  sdk/hasura/tsup.config.ts
  sdk/ipfs/package.json
  sdk/ipfs/tsdown.config.ts
  sdk/ipfs/tsup.config.ts
  sdk/js/package.json
  sdk/js/src/settlemint.ts
  sdk/js/tsdown.config.ts
  sdk/js/tsup.config.ts
  sdk/mcp/package.json
  sdk/mcp/tsdown.config.ts
  sdk/mcp/tsup.config.ts
  sdk/minio/package.json
  sdk/minio/tsdown.config.ts
  sdk/minio/tsup.config.ts
  sdk/next/package.json
  sdk/next/tsdown.config.ts
  sdk/next/tsup.config.ts
  sdk/portal/package.json
  sdk/portal/tsdown.config.ts
  sdk/portal/tsup.config.ts
  sdk/thegraph/package.json
  sdk/thegraph/tsdown.config.ts
  sdk/thegraph/tsup.config.ts
  sdk/utils/package.json
  sdk/utils/src/retry.test.ts
  sdk/utils/tsdown.config.ts
  sdk/utils/tsup.config.ts
  sdk/viem/package.json
  sdk/viem/src/viem.ts
  sdk/viem/tsdown.config.ts
  sdk/viem/tsup.config.ts
  shared/tsdown-factory.ts
Labels: chore

#1047 feat: add comprehensive test coverage for SDK packages
  sdk/blockscout/src/blockscout.test.ts
  sdk/blockscout/tsdown.config.ts
  sdk/cli/tsdown.config.ts
  sdk/eas/tsdown.config.ts
  sdk/hasura/src/hasura.test.ts
  sdk/hasura/tsdown.config.ts
  sdk/ipfs/src/helpers/client-options.schema.test.ts
  sdk/ipfs/src/helpers/client-options.schema.ts
  sdk/ipfs/src/ipfs.test.ts
  sdk/ipfs/tsdown.config.ts
  sdk/js/tsdown.config.ts
  sdk/mcp/tsdown.config.ts
  sdk/minio/src/helpers/client-options.schema.test.ts
  sdk/minio/src/helpers/client-options.schema.ts
  sdk/minio/src/minio.test.ts
  sdk/minio/tsdown.config.ts
  sdk/next/src/config/with-settlemint.test.ts
  sdk/next/tsdown.config.ts
  sdk/portal/tsdown.config.ts
  sdk/thegraph/src/thegraph.test.ts
  sdk/thegraph/tsdown.config.ts
  sdk/utils/src/http/fetch-with-retry.test.ts
  sdk/utils/src/http/graphql-fetch-with-retry.test.ts
  sdk/viem/src/viem.test.ts
  sdk/viem/tsdown.config.ts
Labels: feat
